body {
    background-image: linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, #bbb 91.1% );
    overflow: hidden;
}

.elementos {
    width: 500px;
    padding: 24px;
    margin: 2.2% 0 100% 0;

    background-color: #FFF;
    border-radius: 8px;
}

.semaforo-img {
    width: 90%;
}

#buttons {
    width: 100%;
}

#buttons .btn-padrao {
    width: 24%;
    text-align: center;
}

#speed-range {
    width: 70%;
}

#speed-range .range-style::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 18px;
    height: 18px;

    border-radius: 24%; 
    background: #6c757d;

    cursor: pointer;
}

#speed-range .range-style::-moz-range-thumb {
    width: 18px;
    height: 18px;

    border-radius: 24%; 
    background: #6c757d;

    cursor: pointer;
}
